# git-ls-files --others --exclude-from=.git/info/exclude

Debug
Release
ipch
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.lib
*.ncb
*.lst
*.suo
*.aps
*.user
*.scc
*.opt
*.plg
*.bsc
*.sbr
build.log
*.vsp
*.psess
*.sdf
*.suo
*.opensdf
*.db